* { margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --title-font-size: 22px;
    --sub-title-font-size: 18px;    
    --day-font-size: 16px;

    --primary-color: #333333;
    --secondary-color: #848484;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#container {
    padding: 1.25em;
    min-width: 360px;
}
